*.dll
*.exe
*.pdb
Blog/Blog/bin/EntityFramework.SqlServer.xml
Blog/Blog/bin/EntityFramework.xml
Blog/Blog/bin/Microsoft.Owin.Security.Twitter.xml
Blog/Blog/bin/Microsoft.Owin.xml
Blog/Blog/bin/System.Web.WebPages.xml
Blog/Blog/bin/Blog.dll.config
Blog/Blog.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Blog/Blog/bin/Microsoft.AI.Web.xml
Blog/Blog/bin/Microsoft.ApplicationInsights.xml
Blog/Blog.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Blog/Blog/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Blog/Blog/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Blog/Blog/bin/System.Web.Razor.xml
Blog/Blog/bin/ApplicationInsights.config
Blog/Blog/bin/Microsoft.AI.WindowsServer.xml
Blog/Blog/bin/Microsoft.AspNet.Identity.Owin.xml
Blog/Blog/bin/Microsoft.AI.ServerTelemetryChannel.xml
Blog/Blog/bin/Microsoft.AspNet.Identity.Core.xml
Blog/Blog/bin/Microsoft.Owin.Security.Cookies.xml
Blog/Blog/obj/Debug/Blog.csproj.FileListAbsolute.txt
Blog/Blog/bin/Microsoft.AI.DependencyCollector.xml
Blog/Blog/bin/Microsoft.Owin.Security.Facebook.xml
Blog/Blog/bin/Microsoft.Owin.Security.OAuth.xml
Blog/Blog/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Blog/Blog/bin/Microsoft.Owin.Security.xml
Blog/Blog/bin/Newtonsoft.Json.xml
Blog/Blog/bin/Microsoft.Owin.Security.Google.xml
Blog/Blog/bin/roslyn/VBCSCompiler.exe.config
Blog/Blog/bin/System.Web.Helpers.xml
Blog/Blog.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Blog/Blog/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Blog/packages/EntityFramework.6.1.3/lib/net45/ja/EntityFramework.xml
/Blog/Blog/bin/System.Web.WebPages.Razor.xml
/Blog/Blog/bin/System.Web.WebPages.Deployment.xml
/Blog/Blog/bin/System.Web.Optimization.xml
/Blog/Blog/bin/System.Web.Mvc.xml
/Blog/Blog/bin/Microsoft.Owin.Host.SystemWeb.xml
/Blog/Blog/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Blog/Blog/bin/roslyn/Microsoft.VisualBasic.Core.targets
/Blog/Blog/bin/roslyn/Microsoft.CSharp.Core.targets
/Blog/packages/WebGrease.1.5.2
/Blog/packages/Respond.1.2.0
/Blog/packages/Owin.1.0
/Blog/packages/Newtonsoft.Json.6.0.4
/Blog/packages/Modernizr.2.6.2
/Blog/packages/Microsoft.Web.Infrastructure.1.0.0.0
/Blog/packages/Microsoft.Owin.Security.Twitter.ja.3.0.1
/Blog/packages/Microsoft.Owin.Security.Twitter.3.0.1
/Blog/packages/Microsoft.Owin.Security.OAuth.3.0.1
/Blog/packages/Microsoft.Owin.Security.MicrosoftAccount.ja.3.0.1
/Blog/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1
/Blog/packages/Microsoft.Owin.Security.ja.3.0.1
/Blog/packages/Microsoft.Owin.Security.Google.ja.3.0.1
/Blog/packages/Microsoft.Owin.Security.Google.3.0.1
/Blog/packages/Microsoft.Owin.Security.Facebook.ja.3.0.1
/Blog/packages/Microsoft.Owin.Security.Facebook.3.0.1
/Blog/packages/Microsoft.Owin.Security.Cookies.3.0.1
/Blog/packages/Microsoft.Owin.Security.3.0.1
/Blog/packages/Microsoft.Owin.ja.3.0.1
/Blog/packages/Microsoft.Owin.Host.SystemWeb.ja.3.0.1
/Blog/packages/Microsoft.Owin.Host.SystemWeb.3.0.1
/Blog/packages/Microsoft.Owin.3.0.1
/Blog/packages/Microsoft.Net.Compilers.1.0.0
/Blog/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/Blog/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0
/Blog/packages/Microsoft.AspNet.WebPages.ja.3.2.3
/Blog/packages/Microsoft.AspNet.WebPages.3.2.3
/Blog/packages/Microsoft.AspNet.Web.Optimization.ja.1.1.3
/Blog/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/Blog/packages/Microsoft.AspNet.Razor.ja.3.2.3
/Blog/packages/Microsoft.AspNet.Razor.3.2.3
/Blog/packages/Microsoft.AspNet.Mvc.ja.5.2.3
/Blog/packages/Microsoft.AspNet.Mvc.5.2.3
/Blog/packages/Microsoft.AspNet.Identity.Owin.ja.2.2.1
/Blog/packages/Microsoft.AspNet.Identity.Owin.2.2.1
/Blog/packages/Microsoft.AspNet.Identity.EntityFramework.ja.2.2.1
/Blog/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1
/Blog/packages/Microsoft.AspNet.Identity.Core.ja.2.2.1
/Blog/packages/Microsoft.AspNet.Identity.Core.2.2.1
/Blog/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0
/Blog/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0
/Blog/packages/Microsoft.ApplicationInsights.Web.2.2.0
/Blog/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0
/Blog/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0
/Blog/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6
/Blog/packages/Microsoft.ApplicationInsights.2.2.0
/Blog/packages/jQuery.Validation.1.11.1
/Blog/packages/jQuery.1.10.2
/Blog/packages/EntityFramework.ja.6.1.3
/Blog/packages/EntityFramework.6.1.3
/Blog/packages/bootstrap.3.0.0
/Blog/packages/Antlr.3.4.1.9004
Blog/Blog/obj/Debug/Blog.csproj.GenerateResource.Cache
/Blog/Blog/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Blog/Blog/obj/Debug/Blog.Resources.BlogResources.resources
/Blog/Blog/obj/Debug/Blog.Resources.BlogResources.ja.resources
/Blog/Blog/obj/Debug/Blog.csprojResolveAssemblyReference.cache
Blog/Blog/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Blog/Blog.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Blog/.vs/Blog/v14/.suo
Blog/.vs/Blog/v14/.suo
/Blog/Blog/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Blog/Blog.Tests/obj/Debug/Blog.Tests.csprojResolveAssemblyReference.cache
/Blog/Blog.Tests/obj/Debug/Blog.Tests.csproj.FileListAbsolute.txt
Blog/Blog.Tests/obj/Debug/build.force
