
@{
    ViewBag.Title = "Dashboard View";
}

<h2>Dashboard</h2>

<ul>
    <li>@Html.ActionLink("新規投稿", "Create", "Dashboard")</li>
    <li>@Html.ActionLink("投稿一覧", "AllPosts", "Dashboard")</li>

</ul>